@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Please see <a href="https://github.com/ahems/SecureImageBrowser">https://github.com/ahems/SecureImageBrowser</a> for information about this site.</p>
